::ng-deep .mat-dialog-container {
  width: 100%;
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;
  margin: 0;
}

::ng-deep .mat-dialog-content {
  overflow-y: auto;
  max-height: calc(100vh - 64px); /* ลบส่วนความสูงของ header ออก */
}

::ng-deep .mat-dialog-title {
  font-size: 18px;
  padding: 16px;
}

::ng-deep .mat-dialog-actions {
  padding: 16px;
}

/* ปรับแต่งสีของปุ่มปิด Dialog */
::ng-deep .mat-dialog-container button[mat-dialog-close] {
  background-color: transparent;
  font-size: 20px;
  color: green;
}
