.fullCard{
    background-color: rgb(51, 51, 51); 
    width: 200px; 
    height: auto;
    margin: 0 10px 20px 10px;
    border-radius: 20px;
    position: relative;
}

.fullCard:hover{
    outline: 2px solid rgb(251, 142, 49);
    transform: scale(1.01);
    transition: transform 0.1s ease-in-out;
    cursor: pointer;
}

.img{
    width: 200px; 
    height: 200px; 
    border-top-left-radius: 20px; 
    border-top-right-radius: 20px; 
    object-fit: cover;
}

.nameText{
    display: block;
    font-size:  20px;
    padding-top:  10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.boxPriceText{
    background-color: rgb(251, 142, 49);
    border-bottom-left-radius: 20px; 
    border-bottom-right-radius: 20px; 
    padding-top: 10px;
}
//ถ้าชื่อเกมยาวอาจจะมีเลยการ์ด

.priceText{
    display: flex; 
    justify-content: flex-end; 
    align-items: center; 
    margin-right: 15px; 
    font-size: 20px; 
    padding-bottom: 10px;
}

.percent{
    background-color: rgb(65, 203, 114);
    z-index: 1; 
    position: absolute; 
    border-top-left-radius: 20px; 
    border-bottom-right-radius: 14px; 
    width: 55px; 
    height: 25px;
}

.loadmore{
    cursor: pointer;
    font-size: 20px;
}

.loadmore:hover {
    transition: transform 0.3s ease;
    transform: translateY(10px); 
}

.allfullpage{
    width: 1100px; 
    height: auto; 
    display: flex; 
    flex-wrap: wrap;
}