<div class="" style="width: 1100px; height: auto; display: flex; flex-wrap: wrap;">
    <div class="" style="color: #fff;" *ngFor="let items of product; let i = index" (click)="gotoDetaileProduct(i)">
        <div class="fullCard" *ngIf="items.saleprice == null">
            <img class="img" src="{{items.ImgProduct}}" alt="Product Image">
            <div class="" style="display: flex; justify-content: center;">
              <p class="nameText">{{items.ProductName}}</p>
            </div>
            <div style="display: flex; align-items: center; justify-content: center; margin-bottom: 10px;">
                <ng-container *ngIf="items.categoryproductid === 1; else category2">
                  <i class="lab la-steam" style="font-size: 35px; margin-right: 5px;"></i>
                  <i class="las la-key" style="font-size: 35px;"></i>
                </ng-container>
                <ng-template #category2>
                  <ng-container *ngIf="items.categoryproductid === 2; else category3">
                    <i class="lab la-steam" style="font-size: 35px; margin-right: 5px;"></i>
                    <i class="las la-wallet" style="font-size: 35px;"></i>
                  </ng-container>
                  <ng-template #category3>
                    <ng-container *ngIf="items.categoryproductid === 3; else category4">
                        <i class="lab la-steam" style="font-size: 35px; margin-right: 5px;"></i>
                      <i class="las la-address-book" style="font-size: 35px;"></i>
                    </ng-container>
                    <ng-template #category4>
                      <ng-container *ngIf="items.categoryproductid === 4">
                        <i class="lab la-steam" style="font-size: 35px; margin-right: 5px;"></i>
                        <i class="lab la-microsoft" style="font-size: 35px;"></i>
                      </ng-container>
                    </ng-template>
                  </ng-template>
                </ng-template>
              </div>
            <div class="boxPriceText" *ngIf="items.quantity > 0">
                <p class="priceText">฿{{items.price}}</p>
            </div>

            <div class="boxPriceText col-12" style="display: flex; justify-content: center;" *ngIf="items.quantity == 0">
                <p class="col-8" style="font-size: 20px; display: flex; color: red; justify-content: center;">สินค้าหมด</p>
            </div>
        </div>


        <div class="fullCard" *ngIf="items.saleprice">
            <div class="percent" *ngIf="items.percent">
                <p style="margin: 2px 0 0 7px;">- {{items.percent}}%</p>
            </div>
            <img class="img" src="{{items.ImgProduct}}" alt="Product Image">
            <div class="" style="display: flex; justify-content: center;">
              <p class="nameText">{{items.ProductName}}</p>
            </div>
            <div style="display: flex; align-items: center; justify-content: center; margin-bottom: 10px;">
                <ng-container *ngIf="items.categoryproductid === 1; else category2">
                  <i class="lab la-steam" style="font-size: 35px; margin-right: 5px;"></i>
                  <i class="las la-key" style="font-size: 35px;"></i>
                </ng-container>
                <ng-template #category2>
                  <ng-container *ngIf="items.categoryproductid === 2; else category3">
                    <i class="lab la-steam" style="font-size: 35px; margin-right: 5px;"></i>
                    <i class="las la-wallet" style="font-size: 35px;"></i>
                  </ng-container>
                  <ng-template #category3>
                    <ng-container *ngIf="items.categoryproductid === 3; else category4">
                        <i class="lab la-steam" style="font-size: 35px; margin-right: 5px;"></i>
                      <i class="las la-address-book" style="font-size: 35px;"></i>
                    </ng-container>
                    <ng-template #category4>
                      <ng-container *ngIf="items.categoryproductid === 4">
                        <i class="lab la-steam" style="font-size: 35px; margin-right: 5px;"></i>
                        <i class="lab la-microsoft" style="font-size: 35px;"></i>
                      </ng-container>
                    </ng-template>
                  </ng-template>
                </ng-template>
              </div>
            <div class="boxPriceText col-12" style="display: flex;" *ngIf="items.quantity > 0">
                <p class="col-4" style="padding-left: 15px; text-decoration: line-through; opacity: 0.5;">{{items.price}}</p>
                <p class="col-8" style="font-size: 20px; display: flex; justify-content: flex-end; padding-right: 15px;">฿{{items.saleprice}}</p>
            </div>

            <div class="boxPriceText col-12" style="display: flex; justify-content: center;" *ngIf="items.quantity == 0">
                <p class="col-8" style="font-size: 20px; display: flex; color: red; justify-content: center;">สินค้าหมด</p>
            </div>
        </div>
    </div>

    <div class="col-12 " style="display: flex; justify-content: center; margin-top: 10px; padding-bottom: 20px;">
        <div class="loadmore">
            <p class="" (click)="loadMore()">LOAD MORE<br>
                <i class="fas fa-sort-down" style="display: flex; justify-content: center;"></i>
            </p>
        </div>
    </div>
</div>

<link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
