mat-dialog-container {
    width: 300px;
    height: 200px;
   }
   
   mat-dialog-title {
    color: red;
   }
   
   mat-dialog-content {
    color: black;
   }
   
   mat-dialog-actions {
    color: blue;
   }
   