<app-header></app-header>
<div class="container">
    <div class="row mt-5">
        <div class="col-2"></div>
        <div class="col-2 md-2">
            <ul class="list-group">
                <a href="/profile" class="list-group-item">ข้อมูลส่วนตัว</a>
                <a href="/mykey" class="list-group-item" style="color: rgb(255, 96, 96);">คีย์เกม/ไอเทมในเกม</a>
                <a href="/inventory" class="list-group-item">ประวัติการสั่งซื้อ</a>
                <li class="list-group-item" (click)="logout()">ออกจากระบบ</li>
            </ul>
        </div>
        <div class="col-8">


        </div>
    </div>
</div><br>
<app-footer></app-footer>