<app-header></app-header>
<div class="container" style="height: 500px;">
    <div class="row mt-5">
        <div class="col-2"></div>
        <div class="col-2 md-2">
            <ul class="list-group">
                <a href="/profile" class="list-group-item">ข้อมูลส่วนตัว</a>
                <a href="/mykey" class="list-group-item" style="color: rgb(255, 96, 96);">คีย์เกม/ไอเทมในเกม</a>
                <a href="/inventory" class="list-group-item">ประวัติการสั่งซื้อ</a>
                <li class="list-group-item" (click)="logout()">ออกจากระบบ</li>
            </ul>
        </div>
        <div class="col-8">
            <div class="" *ngFor="let items of myKeyData">
                <div class="col-12" style="width: 80%; background-color: #333333; padding: 20px 20px 20px 20px; border-radius: 14px; margin-bottom: 20px;" *ngIf="items.paymentstatus == 'checked'">
                    <h2>ใบสั่งซื้อเลขที่ {{items.productcode}} / <span style="font-size: 12px;">{{items.CreateDate}}</span></h2>
                    <hr style="width: 100%;">
                    <h4>{{items.remark}}</h4>
                </div>
            </div>
        </div>
    </div>
</div><br>
<app-footer></app-footer>