<app-header></app-header>
<div class="fullpage">
    <div class="body row">
        <p></p>
        <div class="cardlogin col">
            <h4 class="text">register</h4>
            <div class="">
                <form [formGroup]="registerForm">
                    <input class="username" type="text" formControlName="username" placeholder="username"><br>
                    <input class="password" type="text" formControlName="password" placeholder="password"><br>
                    <input class="firstname" type="text" formControlName="firstname" placeholder="firstname"><br>
                    <input class="lastname" type="text" formControlName="lastname" placeholder="lastname"><br>
                    <input class="phonNumber" type="text" formControlName="phoNumber" placeholder="phonNumber"><br>
                    <input class="email" type="text" formControlName="email" placeholder="email"><br>
                    <input class="contact" type="text" formControlName="contact" placeholder="contact">
                </form>
                <div class="bottom">
                    <a href="/login" class="goRegister">back</a>
                    <button type="button" class="button btn btn" (click)="submit()">reigster</button>    
                </div>
            </div>
        </div>
        <p></p>
    </div>
</div>