<app-header></app-header>
<div class="fullpage">
    <div class="body row">
        <p></p>
        <div class="cardregister col-12">
            <h4 class="text">Register</h4><br>
            <div class="" style="border: 1px solid rgb(202, 202, 202); width: 700px; margin-left: 30px;"></div><br>
            <div class="">
                <form [formGroup]="registerForm">
                    <div class="" style="display: flex;">
                        <div class="col-6" style="margin-left: 20px; width: 45%;">
                            <input class="username form-control" type="text" formControlName="username" placeholder="username"><br>
                            <input class="password form-control" type="password" formControlName="password" placeholder="password"><br>
                            <input class="firstname form-control" type="text" formControlName="firstname" placeholder="firstname"><br>
                            <input class="lastname form-control" type="text" formControlName="lastname" placeholder="lastname"><br>
                        </div>
    
                        <div class="col-6" style="margin-left: 20px; width: 45%;">
                            <input class="phoneNumber form-control" type="text" formControlName="phoneNumber" placeholder="phoneNumber"><br>
                            <input class="email form-control" type="text" formControlName="email" placeholder="email"><br>
                            <input class="contact form-control" type="text" formControlName="contact" placeholder="contact">
                        </div>
                    </div>
                </form>
                <div class="bottom">
                    <a href="/login" class="goRegister">I have account</a>
                    <button type="button" class="button btn btn" (click)="submit()">reigster</button>    
                </div>
            </div>
        </div>
        <p></p>
    </div>
</div>
<app-footer></app-footer>