.fullpage{
    display: flex;
    justify-content: center;
    font-style: italic
}

.cardregister{
    background-color: #f8f8f8;
    border: 1px solid #d6d6d6;
}

.text{
    display: flex;
    justify-content: center;
    padding-top: 55px;
}

.body{
    height: 550px;
    width: 800px;
}



.bottom{
    display: flex;
    justify-content: space-between;
    padding: 0 40px 0 30px;
}

.button{
    width: 85px;
    background-color: rgb(251, 142, 49);
    color: white;
    font-weight: bold;
}

.goRegister{
    text-decoration: none;
}

.registerFalse{
    margin: 25px 0 0 0;
    width: 800px;
    height: 60px;
    background: rgba(255,89,89,.2117647059);
    color: rgb(172, 73, 73);
    border: 1px solid rgb(172, 73, 73);
    display: flex;
    align-items: center;
    border-radius: 5px;
}