.allPage{
    margin-top: 20px; 
    margin-bottom: 50px; 
    display: flex; 
    justify-content: center;
}

.imgProduct{
    width: 100%; 
    height: 80%; 
    border-top-right-radius: 14px; 
    border-top-left-radius: 14px
}

.testPlatform{
    width: 50px; 
    height: 50%; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    border-radius: 18px; 
    border: 1px solid rgb(255, 145, 0);
}

.textEditon{
    color: #ffffff; 
    border-radius: 18px; 
    border: 1px solid rgb(255, 145, 0); 
    width: 30%; 
    height: 50%; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.leftSite{
    color: #eeeeee; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin: 10px 0 10px 0;
}

.textNameProduct{
    display: flex; 
    justify-content: 
    center; font-size: 24px; 
    color: #ffffff; 
    font-weight: bold; 
    margin-top: 10px;
}

.textDes{
    display: flex; 
    justify-content: center; 
    font-size: 12px; 
    color: #ffffff;
}

.textPrice{
    display: flex; 
    justify-content: center; 
    font-size: 44px; 
    color: #ffffff; 
    font-weight: bold; 
    margin-top: 30px;
}

.buy{
    background: linear-gradient(rgb(251, 142, 49) 0%, rgb(255, 108, 0) 100%); 
    color: #ffffff; 
    width: 274px; 
    height: 55px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border-radius: 24px; 
    margin-top: 10px;
    cursor: pointer;
}

 .head {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
 }

.minus{
    color: white;
    margin-right: 10px;
    cursor: pointer;
}

.plus{
    margin-left: 10px;
    color: white;
    cursor: pointer;
}

 .input {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 15px;
    background-color: #333333;
    border: 1px solid rgb(251, 142, 49);
    color: rgb(251, 142, 49);
 }
