<app-header></app-header>

<div class="col-12 container allPage">
    <div class="col-7" *ngIf="product" style="background-color: rgb(51, 51, 51); width: 780px; height: 565px; margin-right: 30px; border-radius: 14px;">
        <img class="imgProduct" src="{{product.ImgProduct}}" alt="Product Image">
        <div class="col-12" style="display: flex; color: #707070; margin: 10px 0 0 20px;">
            <div class="col-6">
                <p>PLATFORM</p>
                <div class="testPlatform">
                    <img src="https://static.vecteezy.com/system/resources/previews/020/975/558/original/steam-logo-steam-icon-transparent-free-png.png" style="width: 30px; height: 30px;">
                </div>
            </div>
            <div class="col-6">
                <p>EDITION</p>
                <div class="textEditon">
                    STANDARD
                </div>
            </div>
        </div>
    </div>

    <div class="col-5" style="background-color: rgb(51, 51, 51); width: 360px; height: 360px; border-radius: 14px;">
        <div class="leftSite">
            <img src="assets/icon_yes.png" style="width: 30px; height: 30px;">
            CAN BE ACTIVATED IN: THAILAND
        </div>
        <div class="" style="border-style: solid; border-width: 1px; color: #707070;"></div>
        <p class="textNameProduct">{{product.ProductName}}</p>
        <div class="head">
            <i class="fas fa-minus minus" (click)="decreaseQuantity()"></i>
            <input class="input" [(ngModel)]="quantity">
            <i class="fas fa-plus plus" (click)="increaseQuantity()"></i>
           </div>
        <p class="textPrice" *ngIf="product.saleprice == null">฿{{product.price}}</p>
        <div class="" *ngIf="product.saleprice" style="display: flex; justify-content: center;">
            <p class="textPrice">฿{{product.saleprice}}</p>
            <div class="" style="color: #fff; padding: 15px 0 0 15px;">
                <p style="background: rgb(251, 142, 49); display: flex; justify-content: center; align-items: center; border-radius: 14px; font-size: 18px;">-{{percent}}%</p>
                <p style="text-decoration: line-through; opacity: 0.5; font-size: 18px;">{{product.price}}</p>
            </div>
        </div>
        <div class="" *ngIf="quantity <= product.quantity && loging" style="display: flex; justify-content: center;" (click)="buyProduct()">
            <h3 class="buy">ใส่ตะกร้า</h3>
        </div>

        <div class="" *ngIf="quantity <= product.quantity && loging == false" style="display: flex; justify-content: center;" (click)="rount()">
            <h3 class="buy">ใส่ตะกร้า</h3>
        </div>

        <div class="" *ngIf="product.quantity == 0 || product.quantity == null" style="display: flex; justify-content: center;">
            <h2 class="" style="color: red; margin-top: 20px;">สินค้าหมด</h2>
        </div>

        <div class="" style="color: #619744; display: flex; justify-content: center;margin-top: 20px;">
            <img src="assets/icon_lock.png" style="width: 20px; height: 20px; margin-right: 5px;">
            YOUR TRANSACTION IS SECURE
        </div>
    </div>
</div>

<div class="col-12 container" style="width: 1170px; height: auto; border-radius: 14px; background-color: #333333; color: rgb(235, 233, 233); padding-top: 20px;">
    <h2 style="margin: 0 20px 0 20px;">วันที่วางจำหน่าย: {{product.CreateDate | date: 'dd MMMM yyyy'}}</h2>
    <p style="margin: 10px 20px 0 20px; padding-bottom: 20px; word-wrap: break-word;">{{product.Description}}<p>
</div>

<app-footer></app-footer>