<!-- your-dialog.component.html -->
<ng-container *ngFor="let contact of contact">
    <h1 mat-dialog-title style="background-color: #90EE90;">Detail Contact</h1>
    <div mat-dialog-content>
        <mat-icon style="font-size: 14px; position: absolute; top: 25px; right: 20px;"
            (click)="onCloseClick()">close</mat-icon>
      <!-- Right Column: User Information Form -->
      <div style="flex: 2;">
        <form [formGroup]="userForm">
  
          <mat-form-field style="width: 100%">
            <mat-label style="font-size: 18px; color: blue;">Subject</mat-label>
            <input matInput style="margin-top: 15px;" [readonly]="true" 
            [value]="contact.subject">
          </mat-form-field>
  
          <mat-form-field style="width: 100%">
            <mat-label style="font-size: 18px; color: blue;">Detail Message</mat-label>
            <textarea matInput rows="4" style="margin-top: 15px;" [readonly]="true"
            >{{ contact.textmessage }}</textarea>
          </mat-form-field>
  
          <div style="display: flex; justify-content: flex-end; align-items: center;">
            <!-- Save Button -->
            <button mat-button color="success" (click)="onSave()" [disabled]="contact.read">
              Update
            </button>
          </div>
  
        </form>
      </div>
    </div>
  </ng-container>
  