<!DOCTYPE html>
<html lang="en">
<head>
  <!-- ใส่ meta tags, link to stylesheets, หรือสิ่งอื่น ๆ ที่จำเป็น -->
</head>
<body>
  <!-- ส่วนเนื้อหาของหน้าเว็บไซต์ -->

  <footer class="footer">
    <div class="container">
     <div class="row">
       <div class="footer-col">
         <h4>As for us</h4>
         <ul>
           <li><a href="#">Please come again :D </a></li>
           <li><a href="#"><img src="../assets/profile2.png" width="130px" alt="ชื่อโลโก้"></a></li>
         </ul>
       </div>
       <div class="footer-col">
         <h4>Questions</h4>
         <ul>
           <li><a href="/questions">คำถามพบบ่อย</a></li>
           <li><a href="/questions">ขั้นตอนการจัดส่ง</a></li>
           <li><a href="/questions">สถานะสินค้า</a></li>
           <li><a href="/questions">การรับประกัน</a></li>
           <li><a href="/questions">เปลี่ยน/คืนสินค้า</a></li>
         </ul>
       </div>
       <div class="footer-col">
         <h4>Payment</h4>
         <ul>
            <li><a href="#"><img src="../assets/payment/1.jpg" width="100px" alt="ชื่อโลโก้"></a></li>
            <li><a href="#"><img src="../assets/payment/2.png" width="100px" alt="ชื่อโลโก้"></a></li>
            <li><a href="#"><img src="../assets/payment/3.png" width="100px" alt="ชื่อโลโก้"></a></li>
            <li><a href="#"><img src="../assets/payment/4.png" width="100px" alt="ชื่อโลโก้"></a></li>
         </ul>
       </div>
       <div class="footer-col">
         <h4>follow us</h4>
         <div class="social-links">
            <a href="https://www.facebook.com/arthipsamashop" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.facebook.com/ArthipSamaS" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/2002_arthip/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.youtube.com/channel/UCX16sZgimBWOVXLVmj42qxg" target="_blank"><i class="fab fa-youtube"></i></a>            
          </div>     
       </div>
       <!-- <button (click)="topFunction()" class="scroll-to-top-btn">
        <i class="fas fa-arrow-up"></i>
      </button> -->
     </div>
    </div> 
 </footer>  

 <!-- HTML -->

  
</body>
</html>