.empty-cart {
    width: 50vw;
    margin: 0 auto;
    text-align: center;
    font-family: 'Maison Neue';
    font-weight: 300;
   }
   
   svg {
    max-width: 60%;
    padding: 5rem 3rem;
   }
   
   #oval, #plus, #diamond, #bubble-rounded {
    animation: plopp 4s ease-out infinite;
   }
   
   @for $i from 1 through 16 {
    svg:nth-child(#{$i}) {
       animation-delay: -240ms * $i;
    }
   }
   
   #bg-line:nth-child(2) {
    fill-opacity: .3;
   }
   
   #bg-line:nth-child(3) {
    fill-opacity: .4;
   }
   
   @keyframes plopp {
     0% {
       transform: translate(0, 0);
       opacity: 1;
    }
     100% {
       transform: translate(0, -10px);
       opacity: 0;
    }
   }
   
   h3 {
    font-size: 2rem;
    line-height: 2rem;
    margin: 0;
    padding: 0;
    font-weight: 600;
   }
   
   p {
    color: rgba(0,0,0,0.5);
    font-size: 18px;
    line-height: 24px;
    max-width: 80%;
    margin: 1.25rem auto 0 auto;
   }
   
   body {
    background: #f2f2f2;
   }
   
   .gotohomepage{
    background: linear-gradient(rgb(251, 142, 49) 0%, rgb(255, 108, 0) 100%); 
    color: #ffffff; 
    width: 130px; 
    height: 30px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border-radius: 24px; 
    cursor: pointer;
}

.pay1{
   width: 150px;
   height: 100px;
   border-radius: 14px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 0 20px 27px;
}

.pay1:hover{
   outline: 2px solid rgb(251, 142, 49);
   transform: scale(1.01);
   transition: transform 0.1s ease-in-out;
   cursor: pointer;
}

.pay{
   background: linear-gradient(rgb(251, 142, 49) 0%, rgb(255, 108, 0) 100%); 
   color: #ffffff; 
   width: 200px; 
   height: 40px; 
   display: flex; 
   justify-content: center; 
   align-items: center; 
   border-radius: 24px; 
   margin-top: 10px;
   cursor: pointer;
}

.trash{
   cursor: pointer;
   color: red;
}