<header
  style="background-color: rgb(51, 51, 51); background-size: cover; background-position: center; padding: 15px; color: white; display: flex; justify-content: center;">
  <div class="logo" style="margin-right: 60px;">
    <a href="/mainpage">
      <img src="../assets/newlogo2.png" alt="ชื่อโลโก้" style="height: 90px; width: auto;">
    </a>
  </div>

  <div class="search-bar" style="width: 500px; height: 40px; margin-top: 25px;">
    <input [(ngModel)]="dataSearch" type="text" placeholder="ค้นหา..." (keyup.enter)="searchProducts(dataSearch)" style="margin-left: 8px; background-color: #262626; color: #fff;">
    <button class="search-button" (click)="searchProducts(dataSearch)">
      <i class="fas fa-search iconSearch" style="margin-right: 8px;"></i>
    </button>
  </div>

  <div class="cart-icon" style="margin-left: 60px;">
    <div class="user-icon">
      <a href="login" class="btn" *ngIf="loging == false">
        <i style="font-size: 20px; color: white;" class="fas fa-cart-plus"></i>
        <div style="font-size: 10px;" class="badge bg-primary"></div>
      </a>
      <a href="cart" class="btn" *ngIf="loging">
        <i style="font-size: 20px; color: white;" class="fas fa-cart-plus"></i>
        <div style="font-size: 10px;" class="badge bg-primary">{{productnum}}</div>
      </a>

      <a href="login" class="btn" *ngIf="loging == false">
        <i style="font-size: 20px; color: white;" class="fas fa-user"></i>
        <span style="font-size: inherit; color: white; margin-left: 7px;">Sign in</span>
      </a>      
      <div class="" *ngIf="loging">
        <a href="profile">
          <i style="font-size: 23px; color: white; margin-left: 10px;" class="fas fa-user-tie"></i>
          <span style="font-size: 18px; color: white; margin: 0 10px 0 5px;">
            {{userData.UserName}}
          </span>
        </a>
      </div>

      <div class="dropdown" *ngIf="loging == false">
        <a href="login">
          <i class="dropbtn fas fa-bars" style="margin-left: 15px; font-size: 26px;">
          </i>
        </a>
      </div>

      <div class="dropdown" *ngIf="loging">
        <i class="dropbtn fas fa-bars" style="margin-left: 15px; font-size: 27px;">
          <div class="dropdown-content">
            <a href="profile">ข้อมูลส่วนตัว</a>
            <a href="mykey">คีย์เกม/ไอเทมในเกม</a>
            <a href="inventory">ประวัติการสั่งซื้อ</a>
            <a href="mainpage" (click)="logout()">ออกจากระบบ</a>
          </div>
        </i>

      </div>
    </div>
  </div>
</header>
<!-- <div class="subheader">
  <a routerLink="/products/productsAll" (click)="nextProducts()"><span>สินค้าทั้งหมด</span></a>
  <a routerLink="/howtobuy"><span>วิธีสั่งซื้อ</span></a>
  <a routerLink="/payment"><span>แจ้งชำระเงิน</span></a>
  <a routerLink="/contact"><span>ติดต่อเรา</span></a>
  <a routerLink="/articles"><span>บทความ</span></a>
</div> -->