<app-header></app-header>
<div class="container">
    <div class="row mt-5">
        <div class="col-2"></div>
        <div class="col-2 md-2">
            <ul class="list-group">
                <a href="/profile" class="list-group-item" style="color: rgb(255, 96, 96);">ข้อมูลส่วนตัว</a>
                <a href="/mykey" class="list-group-item">คีย์เกม/ไอเทมในเกม</a>
                <a href="/inventory" class="list-group-item">ประวัติการสั่งซื้อ</a>
                <li class="list-group-item" (click)="logout()">ออกจากระบบ</li>
            </ul>
        </div>
        <div class="col-8">
            <form *ngIf="profileForm" [formGroup]="profileForm">
                <div class="" style="margin-left: 20px; width: 50%;">
                    <mat-form-field style="width: 100%;">
                        <mat-label style="font-size: 12px;">First Name</mat-label>
                        <input matInput formControlName="firstname">
                        <mat-error *ngIf="profileForm.get('firstname')?.hasError('required')">Firstname is required</mat-error>
                    </mat-form-field>

                    <mat-form-field style="width: 100%;">
                        <mat-label style="font-size: 12px;">Last Name</mat-label>
                        <input matInput formControlName="lastname">
                    </mat-form-field>

                    <mat-form-field style="width: 100%;">
                        <mat-label style="font-size: 12px;">Phone</mat-label>
                        <input matInput formControlName="phoneNumber">
                        <mat-error *ngIf="profileForm.get('phoneNumber')?.hasError('required') && profileForm.get('phoneNumber')?.touched">
                          Phone is required
                        </mat-error>
                        <mat-error *ngIf="profileForm.get('phoneNumber')?.hasError('pattern') && profileForm.get('phoneNumber')?.touched">
                          Invalid Phone format
                        </mat-error>
                      </mat-form-field>
                      <mat-form-field style="width: 100%">
                        <mat-label style="font-size: 12px;">Email</mat-label>
                        <input matInput formControlName="email">
                      </mat-form-field>

                      <mat-form-field style="width: 100%;">
                        <mat-label style="font-size: 12px;">Contact</mat-label>
                        <input matInput formControlName="contact">
                      </mat-form-field>
                </div>
            </form>
            <button type="button" class="button btn btn" (click)="save()">submit</button>

            <hr style="width: 55%;">
            <div class="" >
                <h3>Edit Password</h3>
                <p class="p" style="margin-left: 20px; width: 50%;">Old Password</p>
                <input style="margin-left: 20px; width: 50%;" class="form-control" type="password" [(ngModel)]="oldPassword" placeholder="Enter your old password"><br>
                <p class="p" style="margin-left: 20px; width: 50%;">New Password</p>
                <input style="margin-left: 20px; width: 50%;" class="form-control" type="password" [(ngModel)]="newPassword" placeholder="Enter your new password"><br>
                <button type="button" class="button btn btn" (click)="updatePassword(oldPassword, newPassword)" style="width: 50%;">Update Password</button><br><br>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>